<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/css.css" type="text/css" media="screen" />
        <script type="text/javascript" src="js/index.js" />
        <title>Insert title here</title>
    </head>
    <body>
        <div id="container-inner">
        	<div>
        		<p th:text="#{exp1}"></p>
        	</div>
            <div id="contents">
                <!-- コンテンツここから -->
                <div class="container-fluid">
                    <table>
                        <thead>
                            <th>No2</th>
                            <th>data</th>
                        </thead>
                        <tr th:each="d : ${list}" th:object="${d}">
                            <td><span th:text="*{no}">1</span></td>
                            <td><span th:text="${d.message}">本日は晴天なり。</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>